body {
  
    padding-top:47px;
  }
#about{
        
    height: 36rem;
    /* background:yellow; */
    }
#aboutdiv{
    /* background:orange; */
    height:33rem;
    margin-top: 0 !important;
    bottom:2rem;            
}

.resume-section{
    display:flex;
    justify-content: center;
    /* background:pink; */
    height:36rem;
}

.d-lg-block{
    display: flex !important;
    justify-content: center; /* align horizontal */
    
}
.nav-link{
    margin-right:0.3rem;
    font-family:'Oswald' , sans-serif;
    font-style: Light;
    font-size:  17px;
    line-height:30px;
    color:#6C6B6B !important;
    letter-spacing: 1px;
    /* background: red; */
    width:7.58rem;
    text-align:center; 
} 
  
.nav-link:hover { 
color:#F45C43 !important;
border-bottom: 2px solid #F45C43; 
padding-bottom:2px;
} 


.navbar-nav{
    margin-right:0 !important;
    padding-top:1rem !important;
}
.img-profile{
    margin-top:1rem;
    width:65%;
    height:15rem;
    border:1rem solid rgba(245, 246, 248, 0.357);   
}

span .img-profile{
    flex:1;
    
}


.bg-dark {
    background: #ffffff !important;
}

.nav-item{
    float:right !important;
}


.nav-link:hover {
    color:#F45C43 !important;
    border-bottom: 2px solid #F45C43; 
    padding-bottom:2px;
}

.last-link{
    margin-right:3rem;
}


.logo{
    width:7rem;
    margin-left:4rem;
    padding-top: 1rem;
}
#icons{
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background:pink;  */
    padding:0;
    /* margin-top:2rem; */
    
  }


.icon-links{
    display: inline;
    /* flex:0 0 34%; */
    margin-top:16px;
    font-size:11px;
    padding:0;
    color:#EB3349;
    /* background:red; */
    height:25px;
  }
  .icon-link{
      display: inline-block;
  }

  .icon-link:hover{
    opacity:0.6;
  }
  .icons{
      width:65%;
  }
  .first-icon{
      margin-left:15px;
  }

.contents{
    text-align: center;
    /* padding: 12px; */
    
}

#content1{
    font-family: 'Dosis', 'sans-serif';
    font-style: 'SemiBold';
    font-size: 35px;
    color: #EB3349;
    line-height: 61px;
    letter-spacing: 4px;
    font-weight: 700;
    flex:1;
    margin-top:1rem;
}

#content2{
    font-family: 'Oswald', 'sans-serif';
    font-style: 'Light';
    font-size:  18px;
    line-height: 37px;
    color:#373030;
    flex:1;
    letter-spacing: 1px;
}

#content3{
    font-family: 'Oswald', sans-serif;
    font-style: Light;
    font-size:  18px;
    line-height: 37px;
    margin-top:5px;
    color:#373030;
    flex:1;
    text-align:left;
    letter-spacing:0.8px;
}


footer{
    box-sizing:border-box;
    padding:1rem;
    /* padding-top:0.3rem; */
}

footer div > p{
    font-family: 'PT Sans', sans-serif;
    font-size:  10px;
    line-height: 18px;
    color:#6C6B6B !important;
    margin-left:2rem;
}

footer div p span a{
    color:#F45C43;
    text-decoration: underline #F45C43;
    font-style: italic;
}

footer div p span a:hover{
    color:#F45C43;
    text-decoration:underline;
}
.bg-success{
    background:#ffffff !important;
}
.text-white {
    color:#373030 !important;
}

/* @media (min-width: 992px) { */
@media only screen and (max-width: 488px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        list-style: none;
        
        }
    #icons{
        flex-direction: column;
        margin:0;
        align-items: center;
    }
    /* #icon p{
        width:1fr;
    }
    */
    
    .logo{
        width:5rem;
        margin-left:1rem;
    }
    
    .nav-link{
        font-size:  14px;
        text-align:left;
        margin-left: 17px;
    } 
    .img-profile{
        width:70%;
        height:12rem;
        border:10px solid rgba(245, 246, 248, 0.357);   
    }
    #icons{
        flex-wrap: wrap;
    }
    
    .icon-links{
        display: inline;
        margin:0;
        padding:0;
        }
    
    #content1{
        margin-top:1rem;
        font-size: 25px;
    } 
    
    #content2, #content3{
        font-size:14px;
    }
    #content3{
        text-align:left;
    }
    .bg-dark {
        background: #373030 !important;
    }
} 
@media only screen and (min-width: 490px) and (max-width: 992px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        list-style: none;
        
        }
    
    .logo{
        width:5rem;
        margin-left:1rem;
    }
    
    .nav-link{
        font-size:  14px;
        text-align:left;
        margin-left: 17px;
    } 
    .img-profile{
        width:70%;
        height:12rem;
        border:10px solid rgba(245, 246, 248, 0.357);   
    }
    #icons{
        flex-wrap: wrap;
    }
    
    .icon-links{
        display: inline;
        /* flex:0 0 4%; */
        margin-top:10px;
        font-size:10px;
        padding:0;
      }
    
    #content1{
        margin-top:1rem;
    } 
    
    #content2, #content3{
        font-size:15px;
    }
    .bg-dark {
        background: #373030 !important;
    }
}
 

/* @media only screen and (min-width: 411px) {

.navbar-nav {
    display: flex !important;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    list-style: none;
    
    }

.logo{
    width:5rem;
    margin-left:1rem;
}

.nav-link{
    font-size:  14px;
    text-align:left;
    margin-left: 17px;
} 
.img-profile{
    width:70%;
    height:12rem;
    border:10px solid rgba(245, 246, 248, 0.357);   
}
#icons{
    flex-wrap: wrap;
}

.icon-link{
    display: inline;
    flex:0 0 4%;
    margin-top:10px;
    font-size:10px;
    padding:0;
  }

#content1{
    margin-top:1rem;
} 

#content2, #content3{
    font-size:15px;
}
.bg-dark {
    background: #373030 !important;
}
} */

    